.header_area{
  margin: 0 auto;
  height: 60px;
  background-color: #25b7c0;
}

.header_area_h1{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  color: beige;
}

.date{
  font-size: 13px;
  color: #666;
  padding-bottom: 5px;
}